body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("backImg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}
hr{
    width: 500px;
}
#creator{
    font-family: cursive;
}
#board{
    width: 400px;
    height: 400px;
    background-color:#cdc1b5 ;
    border: 6px solid #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.container{
    margin: 20px;
}
label{
    margin-top: 10px;
    color: white;
}
#ArrowUp, #ArrowDown, #ArrowLeft ,#ArrowRight{
    display: inline-block;
    margin: 5px;
    border: 2px solid white;
    padding: 3px;
    font-weight:bolder;
    color: white;
}
.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.x2{
    background-color: #eee4da;
    color: #727371;
}
.x4{
    background-color: #ece0ca;
    color: #727371;
}
.x8{
    background-color: #f4b17a;
    color: white;
}
.x16{
    background-color: #ece0ca;
    color: #727371;
}
.x32{
background-color: #f57c5f;
color: white;
}
.x64{
background-color:#f65d3b ;
color: white;
}
.x128{
background-color: #edce71 ;
color: white;
}
.x256{
background-color: #edcc63;
color: white;
}
.x512{
background-color: #edc651;
color: white;
}
.x1024{
background-color: #eec734;
color: white;
}
.x2048{
background-color: #ecc230;
color: white;
}
.x4096{
 background-color: #fe3d3d;
 color: white;
}
.x8192{
    background-color: #ff2020;
    color:white;
}